<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a href="/" id="logo">Sample</a>

        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/Help">Help</a></li>
                <li><a href="/About">About</a></li>
            </ul>
        </nav>
    </div>
</header>